<!DOCTYPE html>
<html>

<head>

    <body>
        <form action="" method="get">
            <div>
                <label for="id_name">Name:</label>
                <input type="text" name="name" required_id="id_name">
            </div>
            <div>
                <label for="{{form.name_id_for_label}}">Name:</label> {{form.name}}
            </div>
            {{form.name.label}}<br> {{form.name.value}}<br> {{form.name.html_value}}<br> {{form.name.html_name}}<br> {{form.name.help_text}} {{form.name.field.required}}
            <input type="submit" value="submit"> </form>
    </body>
</head>

</html>